<!doctype html>


  {%- include head_clean.html -%}

  <body class="page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php page page-id-16 custom-background wp-custom-logo has-site-logo h-entry hentry h-as-page single-author header-image-no full-width custom-font-enabled singular page-for-librarians" itemscope="" itemtype="https://schema.org/WebPage">

    {%- include header.html -%}

		
    <div id="content" class="site-content">
		
      <div id="primary" class="content-area">
    

    <!-- <main class="page-content" aria-label="Content"> -->
      <!-- <div class="wrapper"> -->
        {{ content }}
      <!-- </div> -->
    <!-- </main> -->


    {%- include footer.html -%}


	</div><!-- #primary -->

  
  </div><!-- #content .site-content -->



</div><!-- #page .site -->

<script type="text/javascript" src="/styles/tiny-framework/js/navigation.js" id="tinyframework-navigation-js"></script>
<script type="text/javascript" id="tinyframework-additional-scripts-js-extra">
/* <![CDATA[ */
var tinyframeworkAdditionalScripts = {"newWindow":"Opens in a new window"};
/* ]]> */
</script>
<script type="text/javascript" src="/styles/tiny-framework/js/functions.js" id="tinyframework-additional-scripts-js"></script>
<script type="text/javascript" src="/styles/tiny-framework/js/skip-link-focus-fix.js" id="tinyframework-skip-link-focus-fix-js"></script>

<!-- Happy coding! "Ut In Omnibus Glorificetur Deus" ~Saint Benedict -->

</html>
