{% comment %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% endcomment %}



<!doctype html>


<!--[if IE 8]>
<html class="ie ie8 no-js" dir="ltr" lang="en-US" prefix="og: https://ogp.me/ns#">
<![endif]-->

<!--[if !(IE 8)]><!-->
<html dir="ltr" lang="en-US" prefix="og: https://ogp.me/ns#" class="no-js">
<!--<![endif]-->

  {%- include head.html -%}

    {%- include header.html -%}
    <body class="home page-template-default page page-id-31 custom-background wp-custom-logo has-site-logo h-entry hentry h-as-page single-author header-image-no custom-font-enabled page-welcome-to-the-new-literacies-alliance" itemscope="" itemtype="https://schema.org/WebPage">
        <span class="skiplink">
          <a class="screen-reader-text" href="#content" title="Skip to content">Skip to content</a>
        </span>
        <noscript>
          <div id="no-javascript"> Advanced features of this website require that you enable JavaScript in your browser. Thank you! </div>
        </noscript>
        <div id="page" class="site">
          <header id="masthead" class="site-header" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
            <div class="site-branding" itemprop="publisher" itemscope="itemscope" itemtype="https://schema.org/Organization">
              <a href="{{ "/" | relative_url }}" class="custom-logo-link site-logo-link" rel="home" aria-current="page">
                <img width="193" height="93" src="{{ "/assets/images/nla_logo.png" | relative_url }}" class="custom-logo attachment-full size-full" alt="New Literacies Alliance logo" decoding="async" />
              </a>
              <div id="site-title-wrapper">
                <p id="site-title" class="site-title">
                  <a href="{{ "/" | relative_url }}" rel="home">New Literacies Alliance</a>
                </p>
                <p id="site-description" class="site-description">Critical Thinking for Complex Times</p>
              </div>
              <!-- #site-title-wrapper -->
            </div>
            <!-- .site-branding -->
            <nav id="site-navigation" class="main-navigation" aria-label="Primary Menu" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
              <h2 class="screen-reader-text">Primary Menu</h2>
              <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu</button>
              <!--<button class="go-to-top"><a href="#page"><span class="icon-webfont fa-chevron-circle-up" aria-hidden="true"></span></a></button>-->
              <div class="menu-main-container">
                <ul id="primary-menu" class="nav-menu">
                  <li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-28">
                    <a href="{{ "/" | relative_url }}" aria-current="page">Home</a>
                  </li>
                  <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                    <a href="{{ "/available-lessons/" | relative_url }}">Available Lessons</a>
                  </li>
                  <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25">
                    <a href="{{ "/using-lessons/" | relative_url }}">Using the Lessons</a>
                    <ul class="sub-menu">
                      <li id="menu-item-545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545">
                        <a href="{{ "/using-lessons/" | relative_url }}">Using the Lessons</a>
                      </li>
                      <li id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274">
                        <a href="{{ "/using-lessons/popular-sequences/" | relative_url }}">Popular Sequences</a>
                      </li>
                      <li id="menu-item-275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275">
                        <a href="{{ "/using-lessons/get-lesson-links/" | relative_url }}">Get Lesson Links</a>
                      </li>
                    </ul>
                  </li>
                  <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
                    <a href="{{ "/process/" | relative_url }}">Process</a>
                  </li>
                  <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
                    <a href="{{ "/for-librarians/" | relative_url }}">For Librarians</a>
                  </li>
                  <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
                    <a href="{{ "/research-awards/" | relative_url }}">Research &#038; Awards</a>
                  </li>
                  <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-24">
                    <a href="{{ "/about-us/" | relative_url }}">About</a>
                    <ul class="sub-menu">
                      <li id="menu-item-544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-544">
                        <a href="{{ "/about-us/" | relative_url }}">About Us</a>
                      </li>
                      <li id="menu-item-376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-376">
                        <a href="{{ "/about-us/project-history/" | relative_url }}">Project History</a>
                      </li>
                      <li id="menu-item-375" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-375">
                        <a href="{{ "/about-us/join/" | relative_url }}">Join</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
            <!-- #site-navigation -->
            <!-- Custom Header - Start -->
            <!-- Custom Header - End -->
          </header>
          <!-- .site-header -->

        <div id="primary" class="content-area">
          <main id="content" class="site-main" role="main" aria-label="Content" tabindex="-1">
            {% if page.title and page.hide_title != true %}
            <h1 class="page-title">{{ page.title }}</h1>
            {% endif %}
              {{ content }}
          </main>
        </div>


    {%- include footer.html -%}

</div><!-- #page .site -->

<script type="text/javascript" src="{{ "/styles/tiny-framework/js/navigation.js" | relative_url }}" id="tinyframework-navigation-js"></script>
<script type="text/javascript" id="tinyframework-additional-scripts-js-extra">
/* <![CDATA[ */
var tinyframeworkAdditionalScripts = {"newWindow":"Opens in a new window"};
/* ]]> */
</script>
<script type="text/javascript" src="{{ "/assets/js/overrides.js" | relative_url }}" id="site-overrides-js"></script>
<script type="text/javascript" src="{{ "/styles/tiny-framework/js/skip-link-focus-fix.js" | relative_url }}" id="tinyframework-skip-link-focus-fix-js"></script>

<!-- Happy coding! "Ut In Omnibus Glorificetur Deus" ~Saint Benedict -->
</body>
</html>
